PORT="3000"
MONGODB_URI="mongodb+srv://dipak:0d1mzxph9dhwoxCp@cluster0.9lusik1.mongodb.net/supportdesk"
JWT_SECRET="f98760f3cccf67c144e370bcd5361c19f70c7fa5d4d71a9bb88bae4bfaf54fb1",
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"
UPLOAD_MAX_MB="10"
SLA_LOW_HOURS="72"
SLA_MEDIUM_HOURS="48"
SLA_HIGH_HOURS="24"
SLA_URGENT_HOURS="8"

MISTRAL_API_KEY="mstrl_ee2MoapXzO4LQvx7AgogHzrlhi0KKwss_4w4s0c"
MISTRAL_MODEL="mistral-small-latest"
MISTRAL_MAX_QUESTION_LENGTH="1200"
MISTRAL_MAX_OUTPUT_TOKENS="500"
MISTRAL_MAX_TOOL_RESULTS="5"
MISTRAL_MAX_AGENT_STEPS="3"
MISTRAL_TIMEOUT_MS="20000"
